# switch to regexp syntax
#  syntax: regexp
#  ^\.pc/

# use glob syntax
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store

# logs
derby.log
logfile

# eclipse conf file
.settings
.classpath
.project
.manager

# building
target
build
null
tmp*
dist
test-output

# sbt
target
lib_managed
src_managed
*/project/boot
*/*/project/boot

# db
lift_proto*

# other scm
.svn
.CVS
.hg*

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Pax Runner (for easy OSGi launching)
runner
